.homeBody {
  height: 100vh;
  width: 100vw;
  z-index: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}

.homeWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 250px;
  width: 100%;
  overflow: hidden;
}

#titleContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 67px 0;
  text-align: center;
}

#c1 {
  background: linear-gradient(135deg ,rgb(137, 199, 250), rgb(2, 72, 153));
}

.homeTitle {
  margin: 0 auto;
  width: 280px;
  border: solid;
  font-weight: 400;
  font-size: 40px;
  color: white;
}

#navbar {
  z-index: 5;
  margin-top: 250px;
  background: black;
  color: white;
}

.afterTitle {
  margin-top: 250px;
}

.sectionWrapper {
  height: 250px;
  width: 100%;
  overflow: hidden;
}

#colored {
  background-color: #f3f5f9;/* Nice Color from digital ocean*/
}

.sectionWrapper p {
  font-weight: 300;
  text-align: left;
}