
.title {
  font-size: 25px;
  font-weight: 300;
  margin: 0;
  text-align: center;
  color: white;
}

.menuButton {
  z-index: 0;
  text-align: center;
  background-color: rgb(137, 199, 250);
  width: 180px;
  padding-left: 20px;
  padding-right: 20px;
}

.backgroundHeader {
  background: linear-gradient(135deg ,rgb(137, 199, 250), rgb(2, 72, 153));
}